## Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.env/
.env

# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Dataset files
data/raw/
data/processed/*.npy

# Trained models
models/*.keras
models/*.model
models/*.h5
models/*.pkl

# Logs
*.log

# VS Code
.vscode/

# PyCharm
.idea/

# Build files
build/
dist/
*.egg-info/

# Flask
instance/